<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>  <!-- todo toolbar tiene un boton de menu oculto -->
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">mi-perfil</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <ion-card-content>
    <div class="header-content" >
      <img  src="../assets/imgs/user_icon.png" alt="">
    </div>
  </ion-card-content>
    
  <ion-card-content style="display: flex; justify-content: center; flex-direction: column" >

    <div type="txt_registro" id="box_type" name="name">
      <span><b>Nombre:</b> {{user_info.name}}</span>
    </div>
    <br>
    <div type="txt_registro" id="box_type" name="lName">
      <span><b>apellido:</b> {{user_info.lName}}</span>
    </div>
    <br>
    <div id="txt_registro">
      <span><b>Correo electrónico:</b> {{user_info.email}}</span>
    </div>
    <br>
    <div id="txt_registro">
      <span><b>Dirección</b> {{user_info.direction}}</span>
    </div>
    <br>
    <div id="txt_registro">
      <span><b>Número celular:</b> {{user_info.phone}}</span>
    </div>

  </ion-card-content>
</ion-content>


