<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>  <!-- todo toolbar tiene un boton de menu oculto -->
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">mi-perfil</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <ion-card-content>
    <div class="header-content" >
      <img  src="../assets/imgs/user_icon.png" alt="">
      <ion-label>
        <h2>Nombre de usuario</h2>
        <p>Descripcion usuario</p>
      </ion-label>
    </div>
  </ion-card-content>
    
  <ion-card-content style="display: flex; justify-content: center; flex-direction: column" >

    <div type="txt_registro" id="box_type" name="name">
      <span>Nombre {{user_info.name}}</span>
    </div>

    <div type="txt_registro" id="box_type" name="lName">
      <span>Apellido {{user_info.lName}}</span>
    </div>
    
    <div id="txt_registro">
      <span>Correo electronico {{user_info.email}}</span>
    </div>
    
    <div id="txt_registro">
      <span>Dirección {{user_info.direction}}</span>
    </div>
    
    <div id="txt_registro">
      <span>Número celular </span>
      <h1>{{user_info.phone}}</h1>
    </div>

  </ion-card-content>
</ion-content>


