<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Centro Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">centro-ayuda</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245.23911955324718!2d-75.53802580094082!3d10.43538532022216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef62f8fccb91b3d%3A0xb9b1cc640c594b9e!2sASIVETM%20veterinaria!5e0!3m2!1ses-419!2sco!4v1613881319200!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</ion-content>
