<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido a DODi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card-content style="display: flex; justify-content: center; flex-direction: column">
  <div align = "center" margin= "40px"><img src="assets/icon/logo.png" id="icon" margin="40px" height="150px"  width="200px" style="display:inline-block"/></div>
  <div id="Correo_electronico">
		<span>Correo electronico</span>
	</div>
  <input type="text" id="box_type" name="email"><br>
  <br>
  <div id="Contrasena">
		<span>Contraseña</span>
	</div>
  <input type="text" id="box_type" name="password"><br>
</ion-card-content>

<br>
  <div align="center"><ion-button (click)= "login()" expand="">Ingresar</ion-button></div>
<br>
<br>
  <div id="registro">
    <div id="new_user">
      <strong>Nuevo usuario?</strong>
    </div>
    <a (click)="btnClicked()" no-border="true" color= "secondary" routerLink="/register" router-direction='forward'><div style="font-weight: bold; font-size:16px;" color="#640808">Crear cuenta</div></a>
  </div>

</ion-content>
