<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido a DODi</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="container">

  <div class="login-logo" >
    <img src="assets/icon/logo.png"  height="120px"  width="120px" />
  </div>

  <!-- <div id="Correo_electronico">
		<span>Correo electronico</span>
	</div>
  <input type="text" id="box_type" name="email"><br>
  <br>
  <div id="Contrasena">
		<span>Contraseña</span>
	</div>
  <input type="text" id="box_type" name="password"><br>

<br> -->

<form class="login-form" (ngSubmit)="login()">
 
  <input type="text" class="email" [(ngModel)]="todo.email" name="email" placeholder="Correo electrónico" />

  <input type="password" class="password" [(ngModel)]="todo.password" name="password" placeholder="Contraseña"/>

  <button class="login-btn">Ingresar</button>
</form>


  <div class="register-link">
 
      <p>¿Aún no tienes cuenta? <a href="/register">Registrate.</a></p>

  </div>


</ion-content>
