<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>  <!-- todo toolbar tiene un boton de menu oculto -->
    </ion-buttons>
    <ion-title>EM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div class="cart-item" style="display:flex; flex-direction: row; flex-wrap: wrap;">
     
      <div style= "justify-content: start; padding: 5px; width: 100%;">

        <div id="productShopCar" class="container">
          <img src="assets/imgs/Emergencia.png" text-align: center width="50%" height="150px" />
        </div>

      </div>
      
      <div style="display:flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;" >

        <div class="product-detail-cart">
          <p class="product-cart-name"> <strong>Numero de contacto para emergencias</strong></p>
          <div class="product-tracking-detail">
            <p class="product-tracking-label">1593576842 </p>
          </div>

          <p class="product-cart-name"> <strong>Correo para emergencias, Repuestas rápidas</strong></p>
          <div class="product-tracking-detail">
            <p class="product-tracking-label">mailto:pet.care.udc@gmail.com </p>
          </div>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>