*{
    font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
    font-size: 16PX;
}
#box_type {
    position: relative;
	overflow: visible;
	width: auto;
	height: 40px;
	border: 2px solid black;
	padding: 2px 6px;
	left: 0px;
	margin-right: 10px;
	margin-left: 10px;
	top: 0px;
}
