<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tiendas"></ion-back-button>
    </ion-buttons>
    <ion-title>Veterinaria Dr. Francisco</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>  <!-- todo toolbar tiene un boton de menu oculto -->
    </ion-buttons>
  </ion-toolbar>

  

</ion-header>

<ion-content [fullScreen]="true">
  <ion-card button ="true">
    <div class="cart-item">
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title> -->
      <div style= "justify-content: start; padding: 5px; width: 100%;">
        <!-- style="display:flex; flex-direction: row; flex-wrap: wrap;" -->
        <!-- justify-content: center; flex-direction: column" -->
        <div id="productShopCar" class="container">
          <img src="assets/imgs/Vet_Francisco.png" align="left" width="100px" height="100px" />
        </div>
        <div style="display:flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;" >
          <div class="product-detail-cart">
            <p class="product-cart-name"> <strong>Consultorio Veterinario Dr. Francisco </strong></p>
            <div class="product-price-info">
              <p class="product-price-unit">Pedro de Heredia #73-95, Cartagena, Bolivar</p>
            </div>

            <div class="product-tracking-detail">
              <p class="product-tracking-label"><b>Contacto:</b> 6632427 </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </ion-card>

  <ion-card> 
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3299.9829443561343!2d-75.4840484438864!3d10.392700784506054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef625cb11b54235%3A0x76648b81957d6e5b!2sCONSULTORIO%20VETERINARIO!5e0!3m2!1ses-419!2sco!4v1613934438948!5m2!1ses-419!2sco" align ="center" width="100%"  allowfullscreen="" loading="lazy"></iframe>
  </ion-card>

  
</ion-content>
