<ion-content>

  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-menu-button autoHide="false"></ion-menu-button>  <!-- todo toolbar tiene un boton de menu oculto -->
      </ion-buttons>
      <ion-title>Mis Pedidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <ion-segment value="todos_los_Pedidos">
      <ion-segment-button value="en_curso">En curso</ion-segment-button>
      <ion-segment-button value="finalizados">Finalizados</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-content>