<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title> -->
    <div style= "justify-content: center;">
      <!-- style="display:flex; flex-direction: row; flex-wrap: wrap;" -->
      <!-- justify-content: center; flex-direction: column" -->
      <div style="display:flex; flex-direction: row; flex-wrap: wrap;" >

        <div id="productShopCar" class="container" style="">
          <img src="assets/imgs/comida_perro.jpg" margin="10px" align="left" width="50px" height="100px"/>
        </div>

        <div>
          <br>
          Nombre producto 
          <br>
          $$$ x1
          <br>
          Envío $$$
          <br>
        </div>

      </div>

      <div style="display:flex; flex-direction: row; ">

        <div style="display:flex; justify-content: flex-start; flex-direction: column;">
          <br>
          Cantidad:
          <br>
          Total:
          <br>
        </div>

        <div style="display:flex; justify-content: flex-end; flex-direction: column;">
          <br>
          1
          <br>
          $$$
          <br>
        </div>

      </div>

      <!-- <div>
      </div> -->

    </div>

  </ion-card>
</ion-content>
